<launch>
    <arg name="hostIPadress" default="192.168.253.2"/>
    <arg name="hostPortNumber" default="9090"/>
    <arg name="clientIPadress" default="192.168.253.1"/>
    <arg name="clientPortNumber" default="9080"/>
    <node name="udpSent" pkg="ros_udp" type="sent">
        <param name="hostIPadress" value="$(arg hostIPadress)"/>
        <param name="hostPortNumber" value="$(arg hostPortNumber)"/>
    </node>
    <node name="udpReceive" pkg="ros_udp" type="receive">
        <param name="clientIPadress" value="$(arg clientIPadress)"/>
        <param name="clientPortNumber" value="$(arg clientPortNumber)"/>
    </node>
</launch>